*{
  font-family: "Lucida Grande","Lucida Sans", sans-serif;
}

#ptxheader{
  display: block;
    margin-left: auto;
    margin-right: auto;
}

nav{
  background-color:white;
  border-top: 2px solid  #f048b8;
  border-bottom: 2px solid  #f048b8;
  text-align: center;
}
nav li{
  display: inline;
  color: Gray;
  font-size: 24px;
  text-align: center;

}
a{
  text-decoration: none;
  color: Gray;
  padding: 17px;
}

nav a:hover{
  background-color: #f048b8;
  color: white;
}

footer{
  border-top: 3px solid  #f048b8;
  position: absolute;
  right: 0;
  left:0;
  bottom: 0;
  text-align: center;
}
footer li{
  display: inline;
}

body{
  position: relative;
  padding-bottom: 10vh;
  min-height: 100%;
  background-color: white;
}
h1{
  text-decoration: underline;
}

h2{
  font-size: 17px;
}

h3{
  font-size: 14px;
}


.grid-container div{
  justify-self:center;
}

.grid-container{
  display: grid;
  /* 5 rows, 4 columns*/
  grid-template-areas:
    '25% 25% 25% 25%'
    '25% 25% 25% 25%'
    '25% 25% 25% 25%'
    '25% 25% 25% 25%'
    '25% 25% 25% 25%';
  grid-row-gap:50px;
  grid-column-gap: 20px;
  padding: 10px;
  background-color:white;
}

/* grid-area: <name> | <row-start> / <column-start> / <row-end> / <column-end>; */
/* title 1 */
.item1{
  grid-area: 1 / 1 / 2 / 5;

}
/* conent 1 */
.item2{grid-area: 2 / 1 / 3 / 2;}
.item3{grid-area: 2 / 2 / 3 / 3;}
.item4{grid-area: 2 / 3 / 3 / 4;}
.item5{grid-area: 2 / 4 / 3 / 5;}
.item6{grid-area: 3 / 1 / 4 / 2;}
.item7{grid-area: 3 / 2 / 4 / 3;}

.item5 img{
  border: 1px solid black;
}

/* title 2 */
.item8{
  grid-area: 4 / 1 / 5 / 5;
}
/* content2 */

.item9{grid-area: 5 / 1 / 6 / 2;}
.item10{grid-area: 5 / 2 / 6 / 3;}
.item11{grid-area: 5 / 3 / 6 / 4;}
.item12{grid-area:5 / 4 / 6 / 5;}
