*{
  font-family: monospace;
}

nav{
   height: 100%; /* Full-height: remove this if you want "auto" height */
   width: 200px; /* Set the width of the sidebar */
   position: fixed; /* Fixed Sidebar (stay in place on scroll) */
   z-index: 1; /* Stay on top */
   top: 0; /* Stay at the top */
   left: 0;
   background-color:grey;
   /* overflow-x: hidden; /* Disable horizontal scroll */ */
   padding-top: 10px;
   text-align: center;
}

nav a{
  text-decoration: none;
  color: white;
}

nav li{
  display: inline;
  font-size: 24px;
}
nav li a:hover{
  background-color:rgb(217, 217, 217);
  color: black;
}

.content{
  margin-left: 200px;
}

img{
  width: 50%;
}

#About{
  background-color: rgb(0, 204, 204);
  height:100px;
  width: 1000px;
  padding: 40px 20px;
  font-size: 36px;
}
h1{
  font-size: 36px;
}
h2{
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 36px;
}
h3{
  font-size: 18px;
}

p{
  font-size: 18px;
}
